<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script src="/static/index.js"></script>
    </head>
    <body>
        <h1>Starting Game...</h1>
        <div id="wrapper">
            <h1 id="question">{{num}} {{questions}}</h1>
            <button>Buttons will be done in js next week</button>
        </div>
    </body>
</html>